body {
    background-color: #f8f9fa;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin-top: 50px;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.table th, .table td {
    vertical-align: middle;
    text-align: center;
}

.table th {
    background-color: #343a40;
    color: #ffffff;
}

.table th, .table td {
    border: 1px solid #dee2e6;
}

.table-responsive {
    overflow-x: auto;
}

.form-control {
    border-radius: 20px;
}

.list-group-item {
    cursor: pointer;
}

.sidebar {
    background-color: #343a40; /* Change to desired color */
    position: fixed;
    top: 0;
    left: 0;
    font-weight: 600;
    height: 100vh;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.nav-link:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-link .fa {
    margin-right: 10px;
}

hr {
    border-top: 3px solid #fff;
}